li {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/arrow.png")
    0 50% no-repeat;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/arrow.svg")
    0 50% no-repeat;
  list-style-type: none;
  padding-left: 12px;
  display: inline-block;
  margin: 0 10px;
  float: left;
  margin: 0 20px;
}
ul {
  list-style: disc;
  list-style: circle;
  list-style-type: square;
  list-style-position: inside;
  padding-left: 40px;
}
ol {
  list-style: decimal;
  padding-left: 40px;
}
dd {
  margin-left: 40px;
}

body {
  margin-top: 13px;
}
.navigation ul {
  font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}
.navigation a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.navigation li:first-child a {
  border-radius: 4px 0 0 4px;
}
.navigation li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}
.speaker-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding: 22px 0;
  text-align: center;
}
.speaker {
    margin-bottom: 44px;
  }