{% extends "to_do_app/base.html" %}
{% block title %}
about page
{% endblock title %}

{% block content %}
</nav>
<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4"><center>To-Do List</center></h1>
  <p class="lead"><center>This is a To-do list for python django </center></p>
  <p class="lead"><center>This is a To-do list for python django </center></p>
  <div class="text-center">
      <button type="button" class="btn btn-outline-success">Create to do list</button>
  </div> 
</div>
{% endblock content %}