div {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("alert.png");
}
div {
  background-image: url("alert.png");
  background-repeat: no-repeat;
}
div {
  background-image: url("alert.png");
  background-position: 20px 10px;
  background-repeat: no-repeat;
}

div {
  background: #b2b2b2 url("alert.png") 20px 10px no-repeat;
}
.notice-success {
  background: #67b11c url("tick.png") 20px 50% no-repeat;
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 50px;
}
body {
  background: #293f50;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #648880;
}
.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

.row {
  background: #fff;
  min-width: 960px;
  padding: 66px 0 44px 0;
}
div {
  background: #466368;
  background: linear-gradient(#648880, #293f50);
  border-radius: 6px;
  height: 120px;
}
div {
  background: #466368;
  background: linear-gradient(to right bottom, #648880, #293f50);
}
div {
  background: #466368;
  background: radial-gradient(#648880, #293f50);
}
div {
  background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880, #293f50);
}
div {
  background: #648880;
  background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
}

.notice-success {
  background: #67b11c;
  background: linear-gradient(#72c41f, #5c9e19);
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px;
}
.row,
.row-alt {
  min-width: 960px;
}
.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}
.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

div {
  background: url("alert.png") 0 0 no-repeat, url("alert.png") 0 0 no-repeat,
    url("alert.png") 0 0 no-repeat;
}

.notice-success {
  background: #67b11c;
  background: url("tick.png") 20px 50% no-repeat,
    linear-gradient(#72c41f, #5c9e19);
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 50px;
}

div {
  background: url("https://www.freeiconspng.com/uploads/alert-icon-red-11.png")
    0 0 no-repeat;
  background-size: auto 75%;
  border: 2px dashed #9799a7;
  height: 240px;
  width: 200px;
}
div {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/shay_1.jpg")
    0 0 no-repeat;
  background-size: auto 75%;
  border: 2px dashed #9799a7;
  height: 240px;
  width: 200px;
}

div {
  background: url("https://www.freeiconspng.com/uploads/alert-icon-red-11.png") 0 0 no-repeat;
  background-clip: padding-box;
  background-origin: border-box;
}
