<html>

<head>
    <title>Adding new user</title>
</head>

<body>
    <h2>New user's data</h2>
    <form method="POST" action="useraded">
        <label>Enter firstname</label><br>
        <input type="text" name="firstname" /><br><br>
        <label>Enter lastname</label><br>
        <input type="text" name="lastname" /><br><br>
        <label>Enter balance</label><br>
        <input type="number" name="balance" /><br><br>
        <input type="submit" value="Submit" />
    </form>
</body>

</html>