<html>

<head>
    <title>User info</title>
</head>

<body>

    {{range .Users}}
    <div>
        <h3> ID:{{ .Id }} </h3>
    </div>
    <div> First Name:{{ .FirstName }}</div>
    <div> Last Name:{{ .LastName }} </div>
    <div> Balance:{{ .Balance }}</div>
    {{end}}

    <h1>Options</h1>
    <form action="/addnewuser/">
        <button type="submit">Add new user</button>
    </form>
    <form action="/deleteuser/">
        <button type="submit">Delete user</button>
    </form>
    <form action="/showuser/">
        <button type="submit">Show user</button>
    </form>

</body>

</html>